.container-event{
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

.card {
  opacity: 0.6;
  padding: 1px;
  position: relative;
}
.card-img {
  height: 150px;; 
  width: 100%;
}
.card:hover { 
    opacity: 1.0;
    filter: grayscale(0%);
}
.card-img-overlay { 
  padding: 5%;
  margin-left: 5%;
  max-width: 60%;
  text-size-adjust: 1;
  overflow:hidden;
  background-color: rgba(197, 197, 197, 0.644);
  
}

.main-event {
  height: 370px;; 
  width: 630px;
}

.main-screen {

}

.event-catagory {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
border: solid;  color: red;
max-width: 500px;
max-height: 600px;

}

.vermas-Btn {
  border: double;
  background-color: rgb(86, 161, 92);
}

.nav-color {
/*custumize navigation bar*/
 
}